################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug
.vs/Capstone/v14/.suo
.vs/Capstone/v14/.suo
